bandhu-parent/bandhu-ext/bandhu-linkedin/src/test/resources/inuse/schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="connections" type="connectionsType"/>
  <xs:element name="people-search" type="people-searchType"/>
  <xs:element name="updates" type="updatesType"/>
  <xs:complexType name="http-headerType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headersType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" type="http-headerType" name="http-header"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total" use="optional"/>
  </xs:complexType>
  <xs:complexType name="api-standard-profile-requestType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="url"/>
      <xs:element type="headersType" name="headers"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="site-standard-profile-requestType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countryType">
    <xs:sequence>
      <xs:element name="code">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="locationType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="countryType" name="country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="first-name"/>
      <xs:element type="xs:string" name="last-name"/>
      <xs:element type="xs:string" name="headline"/>
      <xs:element type="xs:anyURI" name="picture-url"/>
      <xs:element type="api-standard-profile-requestType" name="api-standard-profile-request"/>
      <xs:element type="site-standard-profile-requestType" name="site-standard-profile-request"/>
      <xs:element type="locationType" name="location"/>
      <xs:element type="xs:string" name="industry"/>
      <xs:element type="three-current-positionsType" name="three-current-positions"/>
      <xs:element name="num-connections">
        <xs:simpleType>
          <xs:restriction base="xs:short"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:byte" name="distance"/>
      <xs:element name="auth-token">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="connectionsType" name="connections"/>
      <xs:element type="member-url-resourcesType" name="member-url-resources"/>
      <xs:element type="member-groupsType" name="member-groups"/>
      <xs:element type="xs:string" name="current-status"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connectionsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total" use="optional"/>
  </xs:complexType>
  <xs:complexType name="start-dateType">
    <xs:sequence>
      <xs:element name="year">
        <xs:simpleType>
          <xs:restriction base="xs:short"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="month" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:byte"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="companyType">
    <xs:sequence>
      <xs:element name="id" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:int"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="name"/>
      <xs:element name="size" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="type" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Privately Held"/>
            <xs:enumeration value="Educational Institution"/>
            <xs:enumeration value="Public Company"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="industry">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Human Resources"/>
            <xs:enumeration value="Education Management"/>
            <xs:enumeration value="Information Technology and Services"/>
            <xs:enumeration value="Retail"/>
            <xs:enumeration value="Staffing and Recruiting"/>
            <xs:enumeration value="Management Consulting"/>
            <xs:enumeration value="Computer Software"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="ticker" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="positionType">
    <xs:sequence>
      <xs:element type="xs:int" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element name="summary" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="start-dateType" name="start-date"/>
      <xs:element type="xs:string" name="is-current"/>
      <xs:element type="companyType" name="company"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="three-current-positionsType">
    <xs:sequence>
      <xs:element type="positionType" name="position" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total" use="optional"/>
  </xs:complexType>
  <xs:complexType name="peopleType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total"/>
    <xs:attribute type="xs:byte" name="count"/>
    <xs:attribute type="xs:byte" name="start"/>
  </xs:complexType>
  <xs:complexType name="people-searchType">
    <xs:sequence>
      <xs:element type="peopleType" name="people"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="update-contentType">
    <xs:sequence>
      <xs:element type="personType" name="person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="update-commentsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="total" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="updateType">
    <xs:sequence>
      <xs:element name="timestamp">
        <xs:simpleType>
          <xs:restriction base="xs:long"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="update-key">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="update-type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="PROF"/>
            <xs:enumeration value="JGRP"/>
            <xs:enumeration value="STAT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="update-contentType" name="update-content"/>
      <xs:element type="xs:string" name="is-commentable"/>
      <xs:element type="update-commentsType" name="update-comments"/>
      <xs:element type="updated-fieldsType" name="updated-fields" minOccurs="0"/>
      <xs:element type="xs:string" name="is-likable"/>
      <xs:element type="xs:string" name="is-liked"/>
      <xs:element name="num-likes">
        <xs:simpleType>
          <xs:restriction base="xs:byte"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="likesType" name="likes" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member-url-resource-typeType">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member-url-resourceType">
    <xs:sequence>
      <xs:element name="url">
        <xs:simpleType>
          <xs:restriction base="xs:anyURI"/>
        </xs:simpleType>
      </xs:element>
      <xs:element type="member-url-resource-typeType" name="member-url-resource-type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member-url-resourcesType">
    <xs:sequence>
      <xs:element type="member-url-resourceType" name="member-url-resource" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="update-fieldType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updated-fieldsType">
    <xs:sequence>
      <xs:element type="update-fieldType" name="update-field"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="count"/>
  </xs:complexType>
  <xs:complexType name="site-group-requestType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member-groupType">
    <xs:sequence>
      <xs:element type="xs:int" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="site-group-requestType" name="site-group-request"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="member-groupsType">
    <xs:sequence>
      <xs:element type="member-groupType" name="member-group"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total"/>
  </xs:complexType>
  <xs:complexType name="likeType">
    <xs:sequence>
      <xs:element type="personType" name="person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="likesType">
    <xs:sequence>
      <xs:element type="likeType" name="like" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total"/>
  </xs:complexType>
  <xs:complexType name="updatesType">
    <xs:sequence>
      <xs:element type="updateType" name="update" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="total"/>
    <xs:attribute type="xs:byte" name="count"/>
    <xs:attribute type="xs:byte" name="start"/>
  </xs:complexType>
</xs:schema>